<ul>
  <%= for bag_adres_sync <- @bag_adres_syncs do %>
    <li>
      versie: <%= bag_version(bag_adres_sync) %>
      <br>
      op: <%= bag_adres_sync.started_at %>
      (in <%= time_difference(bag_adres_sync.started_at, bag_adres_sync.finished_at) %>)
    </li>
  <% end %>
</ul>
